.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(-50%);

}